.no-js #filters {
    display: none;
}

thead, th, td {
    border: 0 !important;
}

.template {
    padding: 5rem 0 1rem 0;
}

.tablesorter-header .tablesorter-header-inner{
    background: url("../data/sort.png") right no-repeat;
}

.tablesorter-headerAsc .tablesorter-header-inner {
    background: url("../data/asc.png") top right no-repeat;
}

.tablesorter-headerDesc .tablesorter-header-inner {
    background: url("../data/desc.png") bottom right no-repeat;
}
