.tableView_orange {
	background-color: #FFC34A !important;
}

.tableView_yellow {
	background-color: #FFFF50 !important;
}

.tableView_red {
	background-color: #FF492F !important;
}

.content {
	padding: 10px 10px 10px 10px;
}

.Wt-tableview {
    margin: 0 auto;
}
