.no-js #filters {
    display: none;
}

thead, th, td {
    border: 0 !important;
}

.template {
    padding: 5rem 20px 1rem 20px;
}

select:not(:first-of-type) { margin-left: 10px; }

#states { margin-bottom: 10px; }

.state {
    display: inline-block;
    vertical-align: middle;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 4px;
}

.state:not(:first-of-type) { margin-left: 5px; }

#green { background-color: #dff0d8; }

#yellow { background-color: #fcf8e3; }

#red { background-color: #f2dede; }

.tablesorter-header {
    position: relative;
    cursor: pointer;
}

.tablesorter-header .sort-arrow {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 20px;
}

.tablesorter-headerUnSorted .sort-arrow {
    background: url("../img/sort.png") no-repeat;
}

.tablesorter-headerAsc .sort-arrow {
    background: url("../img/asc.png") no-repeat;
}

.tablesorter-headerDesc .sort-arrow {
    background: url("../img/desc.png") no-repeat;
}
