.no-js #filters {
    display: none;
}

thead, th, td {
    border: 0 !important;
}

.template {
    padding: 5rem 0 1rem 0;
}

.tablesorter-header {
    position: relative;
    cursor: pointer;
}

.tablesorter-header .sort-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: block;
    width: 10px;
    height: 20px;
}

.tablesorter-headerUnSorted .sort-arrow {
    background: url("../img/sort.png") no-repeat;
}

.tablesorter-headerAsc .sort-arrow {
    background: url("../img/asc.png") no-repeat;
}

.tablesorter-headerDesc .sort-arrow {
    background: url("../img/desc.png") no-repeat;
}
